.adminAddBlogMain {
    width: 85vw;
    /* height: 100vh; */
    background-color: hsla(0, 4.11%, 14.31%, 1);
}

.imagePreview {
    width: 260px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.imagePreview button {
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    border: none;
    opacity: 0.8;
}


.blockInput {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 20px;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    height: 40px;
    border: none;
}

.uploadImageButton {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.addBlockButton {
    width: 50%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    display: block;
    border-radius: 20px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: green;
    color: white;

    
}

.submitButton {
    
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    position: relative;
    display: block;
    border-radius: 20px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: green;
    color: white;margin-bottom: 30px;

}

.adminNavigate {
    background-color: green;
    color: white;
    border-radius: 20px;
    padding-inline: 10px;
    border: none; 
    padding: 10px;
    transition: 0.2s ease-in-out;

}
.adminNavigate:hover {
    background-color: green;
    color: white;
    border-radius: 20px;
    padding-inline: 10px;
    border: none; 
    padding: 10px;
    transform: scale(1.05);

}