.blogMain {
    width: 85vw;
    color: white;
}

.blogMain img {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    position: relative;
}

.blogMain h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blogMain h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: green;
}
.blogMain p {
    font-weight: 700;
    font-size: 23px;
}

@media (max-width: 767px) {
    .blogMain {
        width: 90vw;
        color: white;
    }
}