.rankingMain {
    background-color: hsla(0, 4.11%, 14.31%, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 85vw;
}
.rankingCont {
    /* padding-inline: 80px; */
    width: 100%;
    overflow-x: auto !important;
}

.rankingCont table {
    color: white;
    
}

td {
    text-align: center;
    border: solid 1px white;
    vertical-align: middle !important;
}

th {
    text-align: center;
    border: solid 1px white;
}

.positionButton {
    border-radius: 20px;
    padding: 5px;
    padding-inline: 15px;
    width: 60px;
    background-color: transparent;
    border: white solid 2px;
    color: white;
}

.positionButtonSelected {
    border-radius: 20px;
    padding: 5px;
    width: 60px;
    padding-inline: 15px;
    background-color: green;
    border: white solid 2px;
    color: white;
}

.positionButtonSelected:focus {
    outline: none;
}



.searchPlayer {
    border-radius: 30px;
    width: 260px;
    background-color: transparent;
    border: solid white 2px;
    padding: 7px;
    color: white;
}


@media(max-width: 310px) {
    .searchPlayer {
        border-radius: 30px;
        width: 240px;
        background-color: transparent;
        border: solid white 2px;
        padding: 7px;
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }